<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"> 
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Aula</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
 <p th:text="${x1}">Alô Mundo. Hello World!</p>   
 <p th:text="${x2}">Alô Mundo. Hello World!</p>   
 <p th:text="${x3}">Alô Mundo. Hello World!</p>   
 <p th:text="${x4}">Alô Mundo. Hello World!</p>   
 <p th:text="${x5}">Alô Mundo. Hello World!</p>   
 <p th:text="${x6}">Alô Mundo. Hello World!</p>   
</body>
</html>